.voucher_vpl_1_0_0 {
    &__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 10px;
        color: #182975;
    }
    &__box {
        display: flex;
        margin-bottom: 10px;
    }
    &__item {
        display: block;
        width: 25%;
        margin-right: 15px;
        text-align: center;
        transition: all 0.2s linear;
        background: #fff;
        &:last-child {
            margin-right: 0px;
        }
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.2s linear;
            padding: 10px;
            border: 1px solid #e4e4e6;
            span {
                color: #c00;
                font-weight: 500;
                display: block;
            }
        }
    }
    &__item:hover {
        .voucher_vpl_1_0_0__img {
            img {
                transform: scale(1.02);
            }
        }
        p {
            color: #fcb900;
        }
    }
    &__img {
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
        }
    }
    &__wrapper {
        padding: 20px 0;
        background: #f6f8fA;
        &:nth-child(2n) {
            background: #ecf0f5;
        }
    }
    &__viewMore {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        align-items: center;
        font-size: 14px;
        span {
            transition: all 0.2s linear;
        }
        button {
            border: none;
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.2s linear;
        }
        &:hover {
            button,
            span {
                color: #dda200;
            }
        }
    }
    @media(max-width: 912px) {
        &__box {
            flex-wrap: wrap;
            justify-content: start;
        }
        &__item {
            width: 31.9%;
            margin: 0 15px 15px 0;
        }
    }
    @media(max-width: 767px) {
        &__title {
            text-align: center;
            font-size: 16px;
        }
        &__box {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        &__item {
            width: 48%;
            margin: 0 10px 10px 0;
            p {
                font-size: 12px;
            }
            &:nth-child(2n) {
                margin-right: 0px;
            }
        }
    }
    @media(max-width: 320px) {
        &__box {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            width: 100%;
            margin-right: 0px;
        }
    }
}