.news_vpl_1_0_0 {
    padding: 10px 0 20px;
    &__item {
        display: flex;
        margin-bottom: 15px;
        &:last-child {
            margin: 0;
        }
    }
    &__img {
        width: 20%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__title {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
    }
    &__text {
        width: 80%;
        margin-left: 10px;
        p {
            margin: 0;
            font-size: 14px;
            text-align: justify;
        }
    }
    @media(max-width: 767px) {
        &__img {
            width: 30%;
        }
        &__text {
            width: 70%;
            p {
                display: none;
            }
        }
    }
    @media(max-width: 320px) {
        &__title {
            font-size: 12px;
        }
    }
}