.footer_vpl_1_0_0 {
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
    &__box {
        border-top: 1px solid #ebab1f;
        border-bottom: 1px solid #ebab1f;
        padding: 10px 0;
        .container {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__col {
        width: 33.3%;
    }
    &__logo {
        img {
            width: 120px;
            height: auto;
        }
    }
    &__info {
        font-style: italic;
    }
    &__bold {
        color: #EBAB1F;
        font-weight: 600;
        font-style: normal;
    }
    &__social {
        display: inline-block;
        width: 32px;
        height: 32px;
        &--fb {
            background: url('../images/fb.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &--gg {
            background: url('../images/gg.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &--yt {
            background: url('../images/yt.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__list {
        a:hover {
            color: #ebab1f;
        }
    }
    &__search {
        position: relative;
        width: 70%;
    }
    &__input {
        width: 100%;
        padding-right: 30px;
    }
    &__submit {
        background-image: url('../images/search.gif');
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__head {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5px;
    }
    &__tag {
        margin-top: 20px;
        &Item {
            text-transform: capitalize;
            padding: 2px 5px;
            background: #dfe4e6;
            border: 1px solid #cdd1d4;
            color: #5e5e5e;
            margin: 2px;
            font-weight: 600;
            transition: .2s all;
            &:hover {
                background-color: #F99D3A;
                color: #fff;
            }
        }
    }
    &__partner {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__tool {
        img {
            display: flex;
            text-align: center;
            margin: auto;
        }
    }
    &__widget {
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        display: flex;
        justify-content: space-between;
        background: #EBAB1F;
        padding: 15px 0;
        color: #333
    }
    &__sitemap {
        a {
            padding: 0 7px;
        }
        a:not(:last-child),
        a:not(:last-child) {
            border-right: 1px solid #000;
        }
    }
    @media (max-width: 820px) {
        &__col {
            width: 50%;
            &:last-child {
                width: 100%;
            }
        }
        &__bold {
            font-size: 15px;
        }
        &__search {
            width: 100%;
        }
    }
}