.popup_vpl_1_0_0 {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    display: none;
    z-index: 100;
    &__wrapper {
        position: relative;
        padding: 15px 20px 20px 20px;
        background: #fff;
        margin-top: 10vh;
        max-width: 400px;
        width: 90%;
        height: fit-content;
        border-radius: 4px;
    }
    &__close {
        width: fit-content;
        margin-left: auto;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        img {
            width: 25px;
            height: 25px;
        }
    }
    &__title {
        font-size: 18px;
        text-transform: uppercase;
        color: #ebab1f;
        font-weight: 700;
        margin-bottom: 10px;
        span {
            color: #ebab1f;
        }
    }
    &__document {
        margin-bottom: 10px;
        a {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            font-style: italic;
            transition: all 0.2s linear;
            &:hover {
                color: #ebab1f;
            }
        }
    }
    &__inputGroup {
        margin-bottom: 10px;
        label {
            display: block;
            margin-bottom: 3px;
            font-size: 14px;
            font-weight: 600;
        }
        input,
        textarea {
            width: 100%;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 4px;
            border: 1px solid #d5e4e4;
            outline: none;
            resize: none;
        }
    }
    &__note {
        font-size: 14px;
        font-style: italic;
        color: #888888;
        margin-bottom: 10px;
        p {
            margin-bottom: 5px;
        }
    }
    &__btn {
        button {
            display: block;
            width: 100%;
            border: none;
            background: #ebab1f;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    @media(max-width: 767px) {
        &__title {
            font-size: 16px;
        }
    }
    @media(max-width: 320px) {}
}