.sidebar_vpl_1_0_0 {
    margin-bottom: 10px;
    margin-top: 30px;
    &__title {
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        padding: 5px 10px;
        background: #ebab1f;
        margin: 0;
    }
    &__voucher {
        ul {
            border: 1px solid#e1e0e0;
            margin: 0 0 15px;
            padding: 10px;
            list-style: none;
            font-size: 15px;
            li {
                padding: 5px 5px 5px 15px;
                font-weight: 600;
                position: relative;
                a {
                    transition: all 0.2s linear;
                }
                &::before {
                    content: '●';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.2s linear;
                }
                &:hover {
                    a {
                        color: #ebab1f;
                    }
                    color: #ebab1f;
                }
            }
        }
    }
    &__picture {
        margin: 10px 0 15px;
        img {
            padding-top: 10px;
        }
    }
    &__newPost {
        margin-bottom: 15px;
        &Img {
            width: 25%;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    &__box {
        margin: 0px 0 10px;
        padding: 10px;
        border: 1px solid#e1e0e0;
    }
    &__item {
        display: flex;
        margin-bottom: 10px;
        p {
            width: 75%;
            font-size: 14px;
            margin: 0 0 0px 10px;
            font-weight: 600;
            transition: all 0.2s linear;
        }
        &:last-child {
            margin: 0;
        }
        &:hover {
            p {
                color: #ebab1f;
            }
        }
    }
    @media(max-width: 992px) {
        display: none;
    }
}