.news_vpl_1_0_0 {
    padding: 20px 0;
    &__box {
        display: flex;
        justify-content: center;
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 10px;
        color: #182975;
    }
    &__cate {
        width: 32%;
        &Item {
            width: 100%;
            padding: 10px;
            background: #fff;
            display: flex;
            align-items: center;
            box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 30%);
            border-radius: 9px;
            margin-bottom: 10px;
            span {
                width: 80%;
                display: block;
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: 600;
                transition: all 0.2s linear;
            }
            &:hover {
                span {
                    color: #ebab1f;
                }
            }
        }
        &Img {
            width: 20%;
            border-radius: 50%;
            overflow: hidden;
            max-width: 66px;
            min-width: 66px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    &__item {
        width: 33%;
        margin-left: 20px;
    }
    &__wrapper {
        background: #fff;
        box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 30%);
        padding: 15px;
        border-radius: 9px;
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            font-size: 14px;
            li {
                margin-bottom: 5px;
                padding-left: 10px;
                position: relative;
                &:last-child {
                    margin: 0;
                }
                &::before {
                    content: '';
                    background: url(../images/news_vpl_1_0_0-arr.png)center 0 no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 5px;
                    height: 8px;
                }
                a {
                    transition: all 0.2s linear;
                }
                &:hover {
                    a {
                        color: #ebab1f;
                    }
                }
            }
        }
    }
    &__new {
        display: flex;
        margin-bottom: 10px;
        &Img {
            width: 50%;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        p {
            width: 50%;
            margin: 10px 0 0 10px;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.2s linear;
        }
        &:hover {
            p {
                color: #ebab1f;
            }
        }
    }
    @media(max-width: 912px) {
        &__box {
            flex-wrap: wrap;
        }
        &__cate {
            width: 100%;
            margin-bottom: 20px;
        }
        &__item {
            width: 47%;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    @media(max-width: 767px) {
        &__title {
            text-align: center;
        }
        &__item {
            width: 100%;
            margin: 0 0 20px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}