.notice_vpl_1_0_0 {
    padding: 15px;
    margin: 10px 0;
    background: #f8f8f8;
    &__title {
        font-size: 18px;
        margin: 0 0 5px 0;
        font-weight: 600;
    }
    p {
        font-size: 14px;
        margin: 0;
    }
}